@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --main-color:red ;
  }
  
*{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.main-nav{
    display: flex;
    justify-content: space-around;
    padding-top:10px ;
    align-items:center ;
}
.nav-items{
    display: flex;
    color: rgb(158, 158, 167);
    font-size: 16px;
    line-height: 16px;
    list-style: none;
}
.nav-link{
    margin-right:20px;
}
.logo{
    width: 50px;
    padding: 0;
    margin: 0;
}
.main-image{
    width: 40%;
    
}
.container{
    display: flex;
    margin: 0px 120px;
}
.btn{
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 16px;
    height: fit-content;
    border: var(--main-color) solid 2px;
}
.btn-primary{
    background-color: var(--main-color);
    color: #fff;
}
.btn-secondary{
    background-color: white;
    color: black;
}
.nav-link:hover{
color: var(--main-color);
}
.active{
color: var(--main-color);
    
}

  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    .main-image {
      max-width:25% ;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }